.parallaxA{
    background:linear-gradient(rgba(0,0,0,.4),rgb(44, 62, 80,.7)), url('/storage/background1.jpg');
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxB{
    background:linear-gradient(rgba(0,0,0,.4),rgb(44, 62, 80,.7)), url('/storage/hero-bg.jpg');
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-transparent{
    background-color: transparent!important;
    border-color: transparent!important;
}

.row {
    margin: 0!important;
}

#chatter button.btn.btn-primary {
    border: 2px solid #f1f5ff;
    background: rgba(68, 71, 104,.9)!important;
    color: white;
    transition: all .2s ease-in-out;
}

#chatter button.btn.btn-primary:hover {
    border: 2px solid #f1f5ff;
    background: rgb(228, 228, 228)!important;
    color: black;
    font-weight: bold;
    transition: all .2s ease-in-out;
}

#chatter .left-column .btn {
    width: 100%;
}

.text-white{
    color:white!important;
}

.navbar-default .navbar-nav>.open>a{
    color:black!important;
}

#chatter{
    background: rgba(0, 0, 0, .7);
}

.bold-brand{
    font-weight: bold;
    font-size: 20px!important;
}

body{
    background: url('/storage/hero-bg.jpg') no-repeat;
    background-size: cover;
}

.chatter_sidebar ul li a, .chatter_sidebar a{
    color:white;
    text-decoration:none; 
}

.chatter_sidebar ul li a:hover, .chatter_sidebar a:hover{
    border-bottom: 1px solid white;
    font-size: 18px;
    transition: all .2s ease-in-out;
    color:white;
}

#chatter #chatter_hero{
    background-image: none;
    background: transparent;
}

#chatter #chatter_hero img {
    max-width: 100px;
    max-height: 100px;
    height:auto;
    width: auto;
    margin: 45px auto;
    position: relative;
}

#chatter #chatter_hero #chatter_hero_dimmer {
    background: transparent;
    position: absolute;
    width: 100%;
    height: 90%;
    left: 0px;
    top: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,.5)!important;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent!important;
    border: 1px solid transparent;
    border-radius: 4px;
}

.collapse.in {
    display: block;
    background: rgba(0,0,0,0.5);
    transition: all .2s ease-in-out;
}

.collapse.in ul li:hover {
   border-bottom: 1px solid white;
   font-size:18px;
   transition: all .2s ease-in-out;
   
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav>li:hover {
    background: rgba(255, 255, 255, .9);
    transition: all .2s ease-in-out;
}

.navbar-nav>li:hover a{
    color:black!important;
    transition: all .2s ease-in-out;
}


.panel-default>.panel-heading {
    background-color: rgba(0, 0, 0,.4)!important;
    border-color: transparent!important;
    text-align: center;
    color: white!important;
    font-size: 18px;
    font-weight: bold;
}

.panel-default {
    border-color: rgba(44, 62, 80,0.9)!important;
}

.panel {
    margin-bottom: 22px;
    background-color: rgba(44, 62, 80,0.9)!important;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0px rgba(255,255,255,.05)!important;;
    color: white;
}

.btn-dark {
    color: #343a40!important;
    background-color: #f8f9fa!important;
    border-color: #f8f9fa!important;
    font-weight: bold;
    font-size: 15px;
}

.btn-dark:hover {
    color: white!important;
    background-color: #343a40!important;
    border-color: #343a40!important;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn-link{
    color:white!important;
}


#chatter.chatter_home .chatter_middle p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgba(255,255,255,.9)!important;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-size: 14px;
}
#chatter ul.discussions li a.discussion_list .chatter_middle span.chatter_middle_details, #chatter ul.discussions li .chatter_posts .chatter_middle span.chatter_middle_details {
    font-size: 13px;
    color: rgb(52, 152, 219)!important;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#chatter ul.discussions li a.discussion_list .chatter_right .chatter_count, #chatter ul.discussions li .chatter_posts .chatter_right .chatter_count {
    padding: 8px 20px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-family: Arial, Helvetica, Times, Courier;
}

#chatter ul.discussions {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: transparent;
}

.chatter_container .panel{
    background: transparent!important;
}

#chatter ul.discussions li a.discussion_list .chatter_middle h3.chatter_middle_title, #chatter ul.discussions li .chatter_posts .chatter_middle h3.chatter_middle_title {
    margin: 0px;
    padding: 0px;
    color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-size: 19px;
    font-weight: bold;
    margin-top: 5px;
}

#chatter ul.discussions li a.discussion_list, #chatter ul.discussions li .chatter_posts {
    background: rgba(68, 71, 104,.7);
    padding: 15px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border-top: .2px solid transparent;
    text-decoration: none;
    display: block;
    position: relative;
    word-break: break-word;
}

#chatter ul.discussions li:hover {
    background: rgba(68, 71, 104,.9);
    transition: all .3s ease-in-out;
}

#chatter ul.discussions li .chatter_posts .chatter_middle > span a {
    font-weight: bold;
    color: white;
    font-size: 14px;
}

#chatter ul.discussions li .chatter_posts .chatter_middle p {
    font-size: 14px;
    color: white;
}

#chatter.discussion #new_response {
    /* text-align: center; */
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    background: rgba(68, 71, 104,.7);
}

#chatter ul.discussions li a.discussion_list .chatter_post_actions p, #chatter ul.discussions li .chatter_posts .chatter_post_actions p {
    margin: 0px;
    float: right;
    background: #f1fcff;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 10px;
    margin-right: 10px;
    color: black;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

#chatter .chatter_avatar span.chatter_avatar_circle {
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
    background-color: #263238!important;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
}

#chatter.discussion #submit_response {
    margin-top: 45px;
}

@media (min-width:320px){
    #chatter ul.discussions li a.discussion_list .chatter_middle, #chatter ul.discussions li .chatter_posts .chatter_middle {
        float: left;
        margin-left: 8px;
        margin-right: 9px;
        margin-top: 80px;
        color: rgba(0,0,0,.6);
    }
    #chatter.discussion #new_response #new_discussion {
        display: block;
        position: relative;
        left: 0px;
        margin-left: 0px!important;
        bottom: 0px;
        margin-top: 0px;
        border: 1px solid #f1f5ff;
        width: 100%;
        border-radius: 2px;
    }
    #chatter.discussion #editor #tinymce_placeholder {
        display:none!important;
        color:rgba(0,0,0,.5);
    }
}

#chatter #chatter_header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 80px;
    font-size: 24px;
    color: white;
    float: left;
    font-weight: bold;
}

#chatter #chatter_header span {
    float: right;
    line-height: 80px;
    margin-left: 10px;
    color: #ccc;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

#chatter #chatter_header a.chatter_cat {
    border-radius: 15px;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
}

.fix{
    vertical-align: top;
    font-size:20px;
}

.listview.view-icons-large .node {
    width: 270px;
    margin: 2px;
    padding: 10px;
}

.d-flex .img-container{
    width:280px;
    padding:5px;
}

.op-transparent{
    background:transparent!important;
    transition: all .4s ease-in-out;
}

.img-container{
   background: #F5F5F5;
   margin: 5px;
}

.img-container img{
    height: 100%;
}

.img-container:hover {
    transform: scale(1.026);
    transition: all .3s ease-in-out;
}

.panel .panel-title {
    border-bottom: 0px;
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    font-weight: bold;
}

.panel .panel-title p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.panel .panel-description p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f5f5f5;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.1rem 2rem;
    max-width: 510px;
}

.panel-home .card, .management .card {
    text-decoration: none !important;
    border: 1px solid transparent;
    transition: .2s ease-in-out border-color;
    -o-transition: .2s ease-in-out border-color;
    -moz-transition: .2s ease-in-out border-color;
    -webkit-transition: .2s ease-in-out border-color;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.panel-about .card p {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-right: 10px;
    text-align: justify;
}
.text-muted {
    color: rgba(0, 0, 0, .8)!important;

}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}

.font-weight-bold{
    font-weight: 700!important;
    color:black;
}

.icon {
    margin-top:25px;
    height: 120px;
    width: 120px;
}

.panel-logo{
    margin-top: 70px;
    margin-bottom: 70px;
}

.panel-logo img{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(44, 62, 80,.9); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 62, 80);
  }

@media (min-width:375px){
    #chatter ul.discussions li a.discussion_list .chatter_middle, #chatter ul.discussions li .chatter_posts .chatter_middle {
        float: left;
        margin-left: 80px;
        margin-right: 90px;
        margin-top:0;
    }
}

@media(min-width: 500px){
    #chatter.discussion #editor #tinymce_placeholder {
        display:initial!important;
    }
}

@media(min-width: 500px){
    #chatter.discussion #editor #tinymce_placeholder {
        display:initial!important;
    }
}


@media (min-width: 992px){
    .panel-home{
        width: 100vw;
        padding-top: 10px;
    }  
}
@media (min-width: 1200px){
    .panel-home{
        width: 100vw;
    }
    .panel-about{
        width: 80vw;
        margin-right: 10vw;
        margin-left: 10vw;
    }    
}