@font-face {
    font-family: "adrip";
    src: url("/fonts/adrip1.ttf");
  }

*, ::after, ::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*{
    scrollbar-color:  rgb(44, 62, 80,.9) #f1f1f1;
    scrollbar-width:thin;
    font-family: 'Nunito', sans-serif;

}

ul li{
    list-style-type: none;
}

a{
    text-decoration:none!important;
}


.chatter_middle textarea{
    min-height:80px;
}


#chatter .chatter_container {
    margin-top: 0px;
}

#chatter #chatter_hero {
    /*background-image: url(http://getwallpapers.com/wallpaper/full/c/9/f/440610.jpg)!important;*/
    width: 100%;
    min-height: 150px;
    position: relative;
    background-size: cover!important;
    text-align: center;
    background-position-y: 3%!important;
}

#chatter ul.discussions li a.discussion_list .chatter_middle .chatter_body, #chatter ul.discussions li .chatter_posts .chatter_middle .chatter_body {
    color: white;
    padding-top: 5px;
}

#chatter ul.discussions li.editing .chatter_update_actions {
    background: transparent;
    display: block;
    height: 57px;
    padding: 7px;
    top: -5px;
    position: relative;
    border: 0px solid #f1f1f1;
    border-top: 0px;
}

#chatter ul.discussions li {
   border-bottom: 1px solid #F5F5F5;
}

#chatter ul.discussions li:last-child{
    border-bottom:none;
}

#chatter ul.discussions li .chatter_posts {
    background: rgba(68, 71, 104,.7);
    padding: 15px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border-top: .2px solid transparent;
    text-decoration: none;
    display: block;
    position: relative;
    word-break: break-word;
    min-height: 100px;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-left: 0px!important; 
    padding-right: 0px!important;
    max-width: 100vw;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.parallaxA{
    background:linear-gradient(rgba(0,0,0,.4),rgb(44, 62, 80,.7)), url('/storage/background1.jpg');
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallaxB{
    background:linear-gradient(rgba(0,0,0,.4),rgb(44, 62, 80,.7)), url('/storage/hero-bg.jpg');
    /* Full height */
    height: 100%; 
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.bg-transparent{
    background-color: transparent!important;
    border-color: transparent!important;
}

.row {
    margin: 0!important;
    display: flex;
}


.text-white{
    color:white!important;
}

.navbar-default .navbar-nav>.open>a{
    color:black!important;
}

#chatter{
    background: rgba(0, 0, 0, .4);
}
.bold-brand{
    font-weight: bold;
    font-size: 20px!important;
}

.parallax{
    background: url('/storage/hero-bg.jpg') no-repeat;
    background-size: cover;
    min-height: 100vh;
    background-attachment:fixed;

}


.chatter_sidebar ul li a, .chatter_sidebar a{
    color:white;
    text-decoration:none; 
}


#chatter #chatter_hero{
    background-image: none;
    background: transparent;
}

#chatter #chatter_hero img {
    max-width: 400px;
    max-height: 200px;
    height: 200px;
    width:100vw;
    margin: auto;
    position: relative;
}

#chatter #chatter_hero #chatter_hero_dimmer {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white!important;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: rgba(0,0,0,.5)!important;
}

.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent!important;
    border: 1px solid transparent;
    border-radius: 4px;
}

.collapse.in {
    display: block;
    background: rgba(0,0,0,0);
    transition: all .2s ease-in-out;
}

.collapse.in ul li:hover {
   border-bottom: 1px solid white;
   transition: all .2s ease-in-out;
   
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-size: 16px;
    font-weight: bold;
}

.navbar-nav>li:hover {
    background: rgba(255, 255, 255, .9);
    transition: all .2s ease-in-out;
}

.navbar-nav>li:hover a{
    color:black!important;
    transition: all .2s ease-in-out;
}


.panel-default>.panel-heading {
    background-color: rgba(0, 0, 0,.4)!important;
    border-color: transparent!important;
    text-align: center;
    color: white!important;
    font-size: 18px;
    font-weight: bold;
}

.panel-default {
    border-color: rgba(44, 62, 80,0.9)!important;
}

.panel {
    margin-bottom: 22px;
    background-color: rgba(44, 62, 80,0.9)!important;
    border: 1px solid transparent;
    border-radius: 4px;
    box-shadow: 0 1px 5px 0px rgba(255,255,255,.05)!important;;
    color: white;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column nowrap;
    flex-flow: column nowrap;
    position: relative;
    -webkit-box-direction: normal;
}

.btn-dark {
    color: #343a40!important;
    background-color: #f8f9fa!important;
    border-color: #f8f9fa!important;
    font-weight: bold;
    font-size: 15px;
}

.btn-dark:hover {
    color: white!important;
    background-color: #343a40!important;
    border-color: #343a40!important;
    font-weight: bold;
    transition: all .3s ease-in-out;
}

.btn-link{
    color:white!important;
}


#chatter.chatter_home .chatter_middle p {
    margin-bottom: 0px;
    padding-bottom: 0px;
    color: rgba(255,255,255,.9)!important;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-size: 14px;
}
#chatter ul.discussions li a.discussion_list .chatter_middle span.chatter_middle_details, #chatter ul.discussions li .chatter_posts .chatter_middle span.chatter_middle_details {
    font-size: 13px;
    color: rgb(52, 152, 219)!important;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
}

#chatter ul.discussions li a.discussion_list .chatter_right .chatter_count, #chatter ul.discussions li .chatter_posts .chatter_right .chatter_count {
    padding: 8px 20px;
    border-radius: 3px;
    margin-top: 10px;
    font-size: 20px;
    color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-family: Arial, Helvetica, Times, Courier;
}

#chatter ul.discussions {
    list-style: none;
    margin: 0px 0px 10px 0px;
    padding: 0px;
    background: transparent;
}

.chatter_container .panel{
    background: transparent!important;
}

#chatter ul.discussions li a.discussion_list .chatter_middle h3.chatter_middle_title, #chatter ul.discussions li .chatter_posts .chatter_middle h3.chatter_middle_title {
    margin: 0px;
    padding: 0px;
    color: white;
    -webkit-transition: color 0.3s ease;
    transition: color 0.3s ease;
    font-size: 19px;
    font-weight: bold;
    margin-top: 5px;
}

#chatter ul.discussions li a.discussion_list, #chatter ul.discussions li .chatter_posts {
    background: rgba(68, 71, 104,.7);
    padding: 15px;
    -webkit-transition: background 0.3s ease;
    transition: background 0.3s ease;
    border-top: .2px solid transparent;
    text-decoration: none;
    display: block;
    position: relative;
    word-break: break-word;
}

#chatter ul.discussions li:hover {
    background: rgba(68, 71, 104,.9);
    transition: all .3s ease-in-out;
}

#chatter ul.discussions li .chatter_posts .chatter_middle > span a {
    font-weight: bold;
    color: white;
    font-size: 14px;
}

#chatter ul.discussions li .chatter_posts .chatter_middle p {
    font-size: 14px;
    color: white;
}

#chatter.discussion #new_response {
    text-align: center;
    padding-left: 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 15px;
    background: rgba(68, 71, 104,.7);
}

#chatter .name {
    display: inline-block;
    width: 100%;
    display: block;
    margin-left: 25px;
    margin-top: 15px;
    text-align: left;
    padding-left: 50px;
}

#chatter .name span a {
    color:white;
    font-weight:bold;
}

#chatter ul.discussions li a.discussion_list .chatter_post_actions p, #chatter ul.discussions li .chatter_posts .chatter_post_actions p {
    margin: 0px;
    float: right;
    background: #f1fcff;
    border-radius: 10px;
    font-size: 12px;
    cursor: pointer;
    padding: 3px 10px;
    margin-right: 10px;
    color: black;
    -webkit-transition: color 0.3s linear;
    transition: color 0.3s linear;
}

#chatter .chatter_avatar span.chatter_avatar_circle {
    width: 60px;
    height: 60px;
    line-height: 62px;
    text-align: center;
    background-color: #263238!important;
    display: inline-block;
    border-radius: 30px;
    color: #fff;
    font-size: 20px;
}

#chatter.discussion #submit_response {
    margin-top: 45px;
}

@media (min-width:320px){
    #chatter ul.discussions li a.discussion_list .chatter_middle, #chatter ul.discussions li .chatter_posts .chatter_middle {
        float: left;
        margin-left: 8px;
        margin-right: 9px;
        margin-top: 80px;
        color: rgba(0,0,0,.6);
    }
    #chatter.discussion #new_response #new_discussion {
        display: block;
        position: relative;
        left: 0px;
        margin-left: 0px!important;
        bottom: 0px;
        margin-top: 0px;
        border: 1px solid #f1f5ff;
        width: 100%;
        border-radius: 2px;
    }
    #chatter.discussion #editor #tinymce_placeholder {
        display:none!important;
        color:rgba(0,0,0,.5);
    }
}

#chatter #chatter_header h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 80px;
    font-size: 24px;
    color: white;
    float: left;
    font-weight: bold;
}

#chatter #chatter_header span {
    float: right;
    line-height: 80px;
    margin-left: 10px;
    color: #ccc;
    color: rgba(255, 255, 255, 1);
    font-size: 12px;
}

#chatter #chatter_header a.chatter_cat {
    border-radius: 15px;
    color: #fff;
    padding: 5px 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 13px;
}

.fix{
    vertical-align: top;
    font-size:20px;
}

.listview.view-icons-large .node {
    width: 270px;
    margin: 2px;
    padding: 10px;
}

.d-flex .img-container{
    width:280px;
    padding:5px;
}

.op-transparent{
    background:transparent!important;
    transition: all .4s ease-in-out;
}

.img-container{
   background: #F5F5F5;
   margin: 5px;
}

.img-container img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    position: relative;
}

.img-container:hover {
    transform: scale(1.026);
    transition: all .3s ease-in-out;
}

.panel .panel-title {
    border-bottom: 0px;
    font-size: 40px;
    font-weight: bold;
}

.panel .panel-title p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.panel .panel-description p {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-size:20px;
    font-weight: bold;
    margin-bottom: 20px;
}
.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #f5f5f5;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
    font-size: .875rem;
    width: calc(100% - 1rem);
    margin: 8px auto;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.1rem 2rem;
    width: 510px;
    min-height: 183px;
}

.panel-home .card, .management .card {
    text-decoration: none !important;
    border: 1px solid transparent;
    transition: .2s ease-in-out border-color;
    -o-transition: .2s ease-in-out border-color;
    -moz-transition: .2s ease-in-out border-color;
    -webkit-transition: .2s ease-in-out border-color;
}

.fa-stack {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}
.panel-about .card p {
    font-size: 1.3rem;
    margin-top: 20px;
    margin-right: 10px;
    text-align: justify;
}
.text-muted {
    color: rgba(0, 0, 0, .8)!important;

}

.mr-auto, .mx-auto {
    margin-right: auto!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}

.font-weight-bold{
    font-weight: 700!important;
    color:black;
}

.icon {
    margin-top:25px;
    height: 120px;
    width: 120px;
}

.panel-logo{
    margin-top: 70px;
    margin-bottom: 70px;
}

.panel-logo img{
    width: 100%;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(44, 62, 80,.9); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(44, 62, 80);
  }

@media (min-width:320px) and (max-width:374px){
    .card-body{
        width: 300px;
    }
    .panel-about{
        width:100%;
    }    

    .col{
        width:320px;
    }

    .icon {
        margin-top: 50px;
        height: 50px;
        width: 50px;
    }
}

@media (min-width:375px){
    #chatter ul.discussions li a.discussion_list .chatter_middle, #chatter ul.discussions li .chatter_posts .chatter_middle {
        float: left;
        margin-left: 80px;
        margin-right: 90px;
        margin-top:0;
    }
    .card-body{
        width: 355px;
    }
    .panel-about{
        width:100%;
    }    

    .col{
        width:375px;
    }

    .icon {
        margin-top: 35px;
        height: 60px;
        width: 60px;
    }
}

@media (min-width:425px){
    #chatter ul.discussions li a.discussion_list .chatter_middle, #chatter ul.discussions li .chatter_posts .chatter_middle {
        float: left;
        margin-left: 80px;
        margin-right: 90px;
        margin-top:0;
    }
    .card-body{
        width: 405px;
    }
    .panel-about{
        width:100%;
    }    

    .col{
        width:425px;
    }

    .icon {
        margin-top: 25px;
        height: 80px;
        width: 80px;
    }
}

@media(min-width: 500px){
    #chatter.discussion #editor #tinymce_placeholder {
        display:initial!important;
    }

    .panel-about{
        width:100%;
    }

    .col{
        width:auto;
    }

    div.icon {
        margin-top:12.5px;
        height: 120px;
        width: 120px;
    }

    
    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.1rem 2rem;
        width: 510px;
    }
}

.chatter_sidebar ul li a:hover{
    background-color: transparent!important;
    font-size:16px!important;
}

.text-white:hover{
    cursor:pointer;
}

.category_title{
    font-size:25px!important;
}

.panel .panel-heading ul li{
    display:inline-block;
}

@media(min-width: 320px){
    .panel .panel-title{
        font-size:30px;
    }

    .panel .panel-description p{
        font-size:15px;
    }

}

@media(min-width: 500px){
    #chatter.discussion #editor #tinymce_placeholder {
        display:initial!important;
    }
}

@media (min-width: 1024px){

    .panel-about{
        width:100%;
    }  
    .panel .panel-title{
        font-size:40px;
    }

    .panel .panel-description p{
        font-size:20px;
    }  
}

@media (min-width: 1200px){

    .panel-about{
        width:100%;
    }  
}

/* CSS TOOK FROM METRO UI 4 FILES*/

.collapse {
    overflow: hidden;
    max-height: 100%!important;
    -webkit-transition: max-height .3s ease;
    transition: max-height .3s ease;
}

.alt-header, .h1, .h2, .h3, .h4, .h5, .h6, .header, .leader, .sub-alt-header, .sub-header, .sub-leader, h1, h2, h3, h4, h5, h6 {
    color: inherit;
    margin: 1rem 0;
    line-height: 1.1;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.d-flex {
    display: -webkit-box!important;
    display: -ms-flexbox!important;
    display: flex!important;
}

.flex-justify-center {
    -webkit-box-pack: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}

div{
    position: relative;
}

img {
    vertical-align: middle;
    border-style: none;
}
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

.img-container {
    display: block;
}
.img-container, .img-fluid, .img-thumbnail {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    position: relative;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: visible;
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important;
}

.rounded {
    border-radius: .25rem!important;
}

.bg-dark {
    background-color: #1d1d1d!important;
}
.pt-5 {
    padding-top: 20px!important;
}

.panel-heading-bg{
    background: #17223b;
}

.category_bg{
    background: rgba(68, 71, 104,.8);
}

.justify-content-between {
    -webkit-box-pack: justify!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

.justify-content-end {
    -webkit-box-pack: end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}

.panel-heading ul li a p{
    word-wrap: break-word;
}

.panel-heading .category_title p{
    text-transform: capitalize;
    padding-top: 10px;
    padding-left: 10px;
}

.latest{
    color:#eeeeee;
    display:inline-flex;
    vertical-align: middle; 
    font-weight:bold;
    font-size:15px;
    color:#BEBEBE!important;
}

.crop {
    vertical-align: middle;
    color: white!important;
    width: 202px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    resize: horizontal;
}

.chat {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
  }

  .chat li .chat-body p {
    margin: 0;
    color: #777777;
  }

  .full-height {
    height: 350px;
    overflow-y: scroll;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}
.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}
.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}

.profile-header-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-position: center!important;
    background-size: cover!important;
    margin:auto;
}

.justify-content-center{
    text-align: center;
}
.form-group input{
    margin: auto;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label i,
.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}

.inputfile + label {
    border: 2px solid currentColor;
}

.inputfile:focus + label,
.inputfile.has-focus + label,
.inputfile + label:hover {
    color: #599EFF;
}

#send_form .input-group{
    display: inline-grid;
}

#chatter .btn {
    height: 36px!important;
    display: inline-grid!important;
    font-weight: 900!important;
    color: #212529!important;
    text-align: center!important;
    vertical-align: middle!important;
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
    user-select: none!important;
    background-color: transparent!important;
    border: 1px solid transparent!important;
    padding: .375rem .75rem!important;
    font-size: 15px!important;
    line-height: 1.5!important;
    border-radius: .25rem!important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out!important;
}

#chatter .btn-primary {
    color: #fff!important;
    background-color: #007bff!important;
    border-color: #007bff!important;
}

#chatter .btn-default{
    color: #fff!important;
    background-color: #d33!important;
    border-color: #d33!important;
 }

.v__align{
    top:30%;
    transform: translateY(-20%);
}

#chatbox_offline dl:last-child ul{
    border-bottom:0px;
}

#chatbox_offline {
    text-align: left;
    max-height: 503px;
    overflow-y: scroll;
}

#users{
    
    text-align: left;
    max-height: 400px;
    overflow-y: scroll;
}

#users dd strong{
    padding-left: 20px!important;;
}

#users .online_user:nth-last-child() dd hr{
    display: none;
}

.online_user dl,.online_user dl dd hr{
    margin:5px 0 5px 0px!important;
}
.offline{
    width:15px;
    height:15px;
    border-radius:50%;
    color:#d33;
    vertical-align:middle;
    margin-left:5px;
}

.online{
    width:15px;
    height:15px;
    border-radius:50%;
    color:#ad3;
    vertical-align:middle;
    margin-left:5px;
}

dl ul li:nth-child(1){
    position: absolute;
}

dl ul li:nth-child(2){
    margin-left: 70px;
}

dl ul li{
    display:inline-block;
}

dl ul li dd img {
    width: 50px;
    margin: 10px 0px;
    position: absolute;
    transform: translateY(0%)!important;
    margin-right: 6px;
    border-radius: 50%;
    display: flex;
    height:50px;
}

#chatbox_offline dl ul{
    border-bottom:1px solid white;
}

.text-black{
    color:black;
}

.alert {
    padding: 35px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin: auto auto 20px auto;
    text-align: center;
}

#users_online{
    height: 197px;
    overflow:hidden;
    overflow-y: scroll;
}

.user{
    margin-bottom:0px;
}

.user li:nth-child(1), #count dl ul li:nth-child(1) {
    position: relative;
}

.user li:nth-child(2) {
    margin-left: 0px;
}

#users_online dl {
    padding: 0 10px;
    text-align: left;
    margin-bottom: 0px;
}

#count{
    padding: 0 10px;
}

#count dl ul li:nth-child(1){
    margin-top:15px;
}

.online{
    width:15px;
    height:15px;
    border-radius:50%;
    color:#ad3;
    vertical-align:middle;
    margin-left:5px;
}


@media only screen and (max-width:993px){
    .chatbox{
        margin: 0 6px;
    }
}

@media only screen and (min-width:600px) and (max-width:991px){
    .user li:nth-child(1){
        display:inline-block;
    }

    .user li dt{
        font-size:20px!important;
        font-weight: bold;
    }

    .adjust{
        width: 58vw;
    }
    .user {
        transform: translate(-90%,0);
    }
    .col-adjust{
        margin: 0;
        width: 100%;
    }
}

@media only screen and (max-width:538px){
    .category_adjust{
        margin: 0 auto;
    }
}

@media only screen and (max-width:610px){
.category_adjust{
    width:230px;
}

.category_crop{
    width:210px;
}
}

.forum_category{
    margin-right: auto;
}

.forum_category li{
    color: white;
    display: inline-block;
    text-decoration: none;
}

@media only screen and (max-width:991px){
    .mt-adjust{
        margin-top: 20px;
    }

    .chatbox{
        width: 100%;
    }

    .wide{
        width: 100%;
    }
}
@media only screen and (max-width:320px){
    .chatter_count{
        max-width: 197px;
    }
}

@media screen and (max-width: 479px) {
    
}

#chatter ul.discussions li .chatter_posts .chatter_middle .trumbowyg-editor p{
    color:black;
}

.trumbowyg-editor{
    background:white;
}
#pagination .pagination > .disabled > span {
    border: 0px;
    color: #ccc;
   background: rgba(68, 71, 104,.7);
}


#pagination .pagination > .active > span {
    border: 0px;
    color: white;
   background: rgba(68, 71, 104,1);
}

#pagination .pagination > li > a {
    border: 0px;
    color: white;
   background: rgba(68, 71, 104,.7);
}


#pagination .pagination > li > a:hover, #pagination .pagination > .active > span:hover {
    border: 0px;
    color: black;
   background: #F5F5F5;
}

#chatter ul.discussions li a.discussion_list .chatter_middle h3.chatter_middle_title .chatter_cat, #chatter ul.discussions li .chatter_posts .chatter_middle h3.chatter_middle_title .chatter_cat {
    background: #ccc;
    border-radius: 30px;
    font-weight: bold;
    font-size: 10px;
    padding: 3px 7px;
    display: inline-block;
    color: #fff;
    position: relative;
    top: -2px;
}

#chatter .btn-twitter {
    background-color: #00ACEE!important;
    border-radius: 0;
    color: #fff;
    border-width: 1px;
    border-style: solid;
    border-color: #0075a2!important;
  }
  #chatter .btn-twitter:link, .btn-twitter:visited {
    color: #fff!important; 
  }
  #chatter  .btn-twitter:active, #chatter .btn-twitter:hover {
    background-color: #0075a2!important;
    color: #fff!important; 
  }

  .link:hover p{
      color:#00ACEE!important;
    
  }

  #chatter.discussion #login_or_register p {
    margin-top: 20px;
    text-align: center;
    color: white;
    font-weight: bold;
}

#chatter a.latest_posted:hover p.crop strong{
    color: #00ACEE;
}

#chatter  .category_name:hover{
    cursor:pointer;
    background-color: rgba(68, 71, 104,1)!important;
}

#chatter .forum_category:hover li .ion, #chatter .forum_category:hover .category, #chatter .forum_category:hover .messages, #chatter .forum_category:hover .discussions{
    color: #00ACEE!important;
    cursor:pointer;
}

#chatter .discussions li:hover .chatter_middle_details span{
    color:white!important;
}

.most_viewed,.most_viewed:hover{
    padding: 0!important;
    background: transparent!important;
}

.avatar_small{
    width: 40px!important;
    height: 40px!important;
    top: 0;
    position: absolute;
    transform: translateX(-15px)!important;
}

.title_small{
    font-size:15px!important;
    font-weight: bold!important;;
    margin-left: 40px!important;
    margin-right: 50px!important;
}

.horiz_align{
    transform: translateY(-11px);
    font-size: 14px;
    position: absolute;
    display: block;
    overflow: hidden;
    word-break: keep-all;
    text-align: center;
    width: 100%;
}

#users_online .discussions li:hover {
    background:transparent!important;
}

.discussion_item{
    position: relative!important;
    display: block;
    margin-left: 0px!important;
    border-bottom: 1px solid #F5F5F5!important;
}

.discussion_item > .discussion_link{
    border-bottom: 0px solid rgb(245, 245, 245);
    width: 100%;
    margin-top:10px;
}